body {
  font-family: helvetica;
  background-color: #FFE
  border: 2px solid #000000;
}

header {
 height: 280px;
 background-image: url('/img/cookies.jpg');
 background-position: center;
 background-size: cover;
 text-align: center;
 color: white;
}

#author{
  margin-top: 160px;
}

h1.header{
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

#container {
  padding: 10px;
}

a {
  font-color: #900;
}

img {
  border-radius: 5px;
  border: 2px solid #000000;

}

h1{

}

h2 {
  border-bottom-style: solid;
  border-color: #000;
  border-bottom-width: 2px;
}

#sub-title{
  color: #887;
}

h3{


}
