body {
  font-family: Merriweather, sans-serif;
  background: #DEDEDE;
}

a {
  text-decoration: none;
  color: #000;
}


/*BUTTONS*/


.button{
  width: 200px;
  border-radius: 5px;
  font-family: Merriweather, sans-serif;
  color: #000;
  font-size: 20px;
  padding: 10px 25px;
  text-align: center;
  text-transform: capitalize;
  margin: 30px auto;
}

.yellow {
  background: #EBE544;
  box-shadow: 0px 3px 2px rgba(202,196,56, 0.75);
}

.grey {
  background: #C6C6C6;
  box-shadow: 0px 3px 2px rgba(50, 50, 50, 0.75);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

header {
  background: #000;
  color: #FFF;
  border-bottom: 5px solid #FBF348;
}

header li {
  color: #FFF;
}

#logo {
  color: #FBF348;
  font-family: Merriweather, sans-serif;
  margin: 0px;
  padding-left: 25px;
}

#nav li {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-right: 20px;
}

#nav li a {
  color: #fff;
}

.feature-nav {
  color: #FFF;
  font-size: 20px;
}

#hero-banner {
  background: #C6C6C6;
}

#hero-banner h2{
  margin: 0px;
  padding: 30px 0px;
  text-align: center;
  font-style: italic;
}

#strikeout {
  text-decoration: line-through;
}

#under-score {
  display:inline-block;
  border-bottom: 3px solid #FBF348;
}

#hero {
  height: 435px;
  color: #000;
  background-image: url("/img/hero-image.png");
  background-size: cover;

}

#create-profile-block{
  width: 320px;
  height: 400px;
  border: 2px solid grey;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  float: right;
  padding: 0px 25px;
  clear:left;
  margin: 15px 4px;

}

#create-profile-copy{
  margin: 0 auto;
  padding-top: 35px;
}

.columns{
  background: #fff;
  width: 395px;
  min-height: 300px;
  padding: 0px 15px;
  border-right: 1px solid #C6C6C6;
  float: left;
  clear: right;
}

.columns:last-child{
  border-right: none;
}

.columns h3{
  font-size: 22px;
  font-weight: 600;
}

.columns p{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

#column-1, #column-2 {
  border-right: 1px solid #e3e3e3;
}

#column-1, #column-2, #column-3 {
  padding: 0px 15px;
}

footer{
  background: #000;
  color: #FFF;
  padding: 20px 0px;
  clear: left;
}

#copyright{
  margin-left: 25px;
}
