/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.spacer-single {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
  }


/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 24px;
     font-weight: 400;
     line-height: 1.4;
     color: #000;
}

h1, h3, ul {
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;

}

.button {
  background: #4DD8FD;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
}


/******************************************
/* LAYOUT
/*******************************************/

#hero {
  width: 100%;
  height: 1265px;
  overflow: auto;
  background: url(../images/dog_and_robot.png);
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 15px solid #000;
}

header {
  margin-top: 15px;
  background: #000;
}

#logo {
  float: left;
  width: 50%;

}

nav {
  float: right;
}


header ul{
  padding: 0px;
  color: #fff;

}

header li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 40px;
}

header li a {
  color: #fff;
  font-weight: 400;
}

header li a:active, a:hover {
  color: #4DD9FD;
}

#hero h1 {
  margin: 0 auto;
  margin-top: 30%;
  width: 50%;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

#hero h4 {
  margin: 5px auto;
  width: 75%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}


#meet-segway{
  margin-top: 30px;
}

#meet-segway-left{
  width: 50%;
  float: left;
}

#meet-segway-right{
  width: 50%;
  float: right;
}

#segway-tour {
  margin-top: 30px;
  background: url(../images/print3.jpg) center 0 no-repeat;
  height: 450px;
}

.feature-block {
  float: left;
  margin: 2%;
  width: 20%;
  font-size: 15px;
}

.feature-block h3 {
  font-size: 20px;
}

.feature-block img {
  width: 15%;
}

#product-tour h1 {
  text-align: center;
}

#segway-stats {
  margin: 0 auto;
}

#segway-stats h1 {

}

/******************************************
/* Mobile
/*******************************************/



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {








}
