/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.spacer-single {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
  }


/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 24px;
     font-weight: 400;
     line-height: 1.4;
     color: #000;
}

h1, h3, ul {
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;

}

.button {
  background: #4DD8FD;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
}


/******************************************
/* LAYOUT
/*******************************************/

#hero {
  width: 100%;
  height: 1265px;
  overflow: auto;
  background: url(../images/dog_and_robot.png);
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 15px solid #000;
}

header {
  margin-top: 15px;
  background: #000;
}

#logo {
  float: left;
  width: 50%;

}

nav {
  float: right;
}


header ul{
  padding: 0px;
  color: #fff;

}

header li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 40px;
}

header li a {
  color: #fff;
  font-weight: 400;
}

header li a:active, a:hover {
  color: #4DD9FD;
}

header li:last-child{
  background: #4DD9FD;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

#hero h1 {
  margin: 0 auto;
  margin-top: 30%;
  width: 50%;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

#hero h4 {
  margin: 5px auto;
  width: 75%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}


#meet-segway{
  margin-top: 30px;
  height: 450px;
}

#meet-segway-left{
  width: 50%;
  float: left;
}

#meet-segway-left img {
  position: relative;
  top: 40px;
}

#meet-segway-right{
  width: 50%;
  float: right;
}

#segway-tour {
  margin-top: 30px;
  padding-top: 145px;
  background: url(../images/print3.jpg) center 0 no-repeat;
  height: 450px;
}

.feature-block {
  float: left;
  margin: 2%;
  width: 20%;
  font-size: 15px;
  height: 200px;
}

.feature-block h3 {
  font-size: 20px;
}

.feature-block img {
  width: 45px;
}

.feature-icon {
  float:left;
}

.feature-desc {
  float:right;
  width: 220px;
}

#product-tour {
  height: 740px;
  background: url(../images/print4.jpg) center 0 no-repeat;
}

#product-tour h1 {
  color: #6B6B6B;
  text-align: center;
}

#product-tour h3 {
  color: #C8C8C8;
  text-align: center;
}


#segway-stats {
  height: 650px;
  background: url(../images/bg-3.jpg) bottom no-repeat;
}

#segway-stat-block {
  padding-top: 180px;
}

#segway-stats h3 {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

hr {
  color: #4DD9FD;
  width: 10%;
}

#segway-stats ul {
  padding: 0px;
  text-align: center;
}

#segway-stats li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.stats {
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
}

.sub-stats {
  color: #4DD9FD;
  font-size: 16px;
  margin-top: 0px;
}


#extendable-robot{
  height: 580px;
  background: url(../images/print6.jpg) bottom no-repeat;
}

#extendable-robot-left{
  position: relative;
  top: 150px;
  width: 50%;
}

#extendable-robot h2 {
  color: #6B6B6B;
  text-align: center;
}

#extendable-robot p {
  text-align: center;
}

.small-caps {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

#robot-life img {
  text-align: center;
  width: 33.3%;
}

#partners {
  background: #000;
  height: 250px;
}

#partners h2 {
  font-size: 20px;
  font-weight 400;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#partners ul {
  text-align: center;
  margin: 0px;
}

#partners li {
  display: inline-block;
  list-style: none;
}

#developers {
  height: 850px;
  background: url(../images/bg-2.jpg) bottom repeat;
}

#developer-program{
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
    padding: 20px 30px 30px 30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 13px;
    background: rgba(0,0,0,0.4);
}

#developer-program h2 {
  font-size: 25px;
  font-weight: 400;
}


footer{
  background: #000;
  text-align: center;
  font-size: 15px;
}

footer a {
  color: #4DD9FD;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer li {
  display: inline-block;
  list-style: none;
  padding: 15px;
}

#copyright {
  color: #fff;
  font-size: 16px;
}
/******************************************
/* Mobile
/*******************************************/



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {








}
